.md-typeset h1{
  color: #4a4a4a;
  font-weight: bold;
}

.md-typeset h2 {
	font-weight: 700;
	color: #008575;
}

.md-typeset h3 {
	color: #ff5e0e;
  font-weight: bold;
}

body {
	color: #4a4a4a;
  background-color: #f9f9f9;
}
.md-footer-nav{
	background-color: #008575;
}
